:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --line-color: #ececec;
  --white-color: #ffffff;
  --hover-button-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --fluoric-background-color: #2f303a;
  --fone-comand-color: #f5f4fa;
  --logo-studio-color: #000000;
}
/* ---------------------------------------------------------------СЕКЦИИ ЦВЕТОВ var------------------------------------------------- */
/* Ховер для кнопки  #188ce8 */
/* основной цвет текста #757575;  */
/* второстепенный цвет текста #212121; */
/* белый цвет #ffffff; */
/* цвет фона вторичный #2F303A; */
/* акцент #2196F3; */
/* цвет контакты футер color: rgba(255, 255, 255, 0.6); */
/* Цвет линия #ececec */
/*Фон команда #F5F4FA */
/* Часть цвета лого Web #000000 */

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
/* -------------------------------------------------------------СПРЯТАННЫЕ ЗАГОЛОВКИ h2,h1---------------------------------------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------------------------------------------------------------ЛОГОТИП------------------------------------------------------------------ */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.logo-span {
  color: var(--logo-studio-color);
}
.span-footer {
  color: var(--white-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* -------------------------------------------------------------------ГЕРОЙ------------------------------------------------------------ */
.hero {
  background: var(--fluoric-background-color);
}

.title-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.ul-site {
  color: var(--title-text-color);
}
.ul-site:hover,
.ul-site:focus {
  color: var(--accent-color);
}
/* ---------------------------------------------------------------КНОПКА ЗАКАЗАТЬ УСЛУГУ------------------------------------------------ */
.issue {
  background: var(--accent-color);
  cursor: pointer;
  color: var(--white-color);
  border-radius: 4px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.issue:hover,
.issue:focus {
  background: var(--hover-button-color);
}

.decision {
  color: var(--white-color);
  font-weight: 900;
  font-size: 1.36;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
}
/* -----------------------------------------------------------------ЧЕМ МЫ ЗАНИМАЕМСЯ------------------------------------------------------- */
.section h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* -------------------------------------------------------------------НАША КОМАНДА------------------------------------------------ */
.title-list-employee {
  background: var(--white-color);
}
.title-list-employee.h2 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

ul {
  list-style: none;
}

/* -------------------------------------------------------------------КНОПКА РАЗДЕЛ "ВСЕ"---------------------------------------------- */

.all {
  background: var(--fone-comand-color);
  color: var(--title-text-color);
  line-height: 1.62;
  border-radius: 4px;
  width: 73px;
}
.all:hover,
.all:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
/* -----------------------------------------------------------------КНОПКА РАЗДЕЛ "ВЕБ-САЙТЫ"---------------------------------------------- */
.web-sites {
  background: var(--fone-comand-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.62;
}
.web-sites:hover,
.web-sites:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

/* ------------------------------------------------------------------КНОПКА РАЗДЕЛ "ПРИЛОЖЕНИЕ"--------------------------------------------------- */
.applications {
  background: var(--fone-comand-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.62;
}
.applications:hover,
.applications:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
/* -----------------------------------------------------------------КНОПКА РАЗДЕЛ "ДИЗАЙН"-------------------------------------------------------- */
.design {
  background: var(--fone-comand-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.62;
}
.design:hover,
.design:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
/* ----------------------------------------------------------------КНОПКА РАЗДЕЛ "МАРКЕТИНГ"---------------------------------------------------------- */
.marketing {
  background: var(--fone-comand-color);
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.62;
}
.marketing:hover,
.marketing:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
/* ----------------------------------------------------------------------ПРОЕКТЫ------------------------------------------------------------------- */
.list-projects.h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

a {
  color: var(--title-text-color);
  text-decoration: none;
}
p {
  color: var(--primary-text-color);
}
/* -----------------------------------------------------------------------КОНТАКТЫ------------------------------------------------------------------------------- */
.contacts {
  color: var(--primary-text-color);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}
.tel {
  color: var(--primary-text-color);
}
.mailto {
  color: var(--primary-text-color);
}

.hidden-h2 {
  display: none;
}

/* -------------------------------------------------------------------ФУТЕР----------------------------------------------------------------*/
footer {
  background: var(--fluoric-background-color);
}

.contacts-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.mailto-footer:hover,
.mailto-footer:focus {
  color: var(--accent-color);
}
.mailto-footer {
  color: var(--footer-contacts-color);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}

.tel-footer {
  color: var(--footer-contacts-color);
  text-decoration: none;
}

.maps {
  color: var(--white-color);
}
.maps:hover,
.maps:focus {
  color: var(--accent-color);
}
